body{
    font-family: Arial;
    background:#f2f2f2;
}

.container{
    max-width:600px;
    margin:auto;
    background:#fff;
    padding:20px;
    border-radius:10px;
}

input, select, button{
    width:100%;
    padding:10px;
    margin-top:8px;
}

button{
    background:#0a7cff;
    color:#fff;
    border:none;
    cursor:pointer;
}

button:disabled{
    background:gray;
    cursor:not-allowed;
}

.row{
    display:flex;
    gap:10px;
}

.row input, .row div{
    flex:1;
}

.important{
    background:#fff3cd;
    padding:10px;
    border-left:4px solid orange;
}

.contacts a{
    text-decoration:none;
    color:#0a7cff;
    font-weight:bold;
}
